html {
    font-family: 'Advent Pro', sans-serif;
    
}

.nav-wrapper .brand-logo{
    padding-left: 40px;
}

.nav-wrapper ul{
    padding-right: 40px;
}

.table-of-contents a.active {
    border-left: 2px solid #4527a0;
}

.table-of-contents a:hover {
    border-left: 2px solid #d1c4e9;
}

.body-section-row{
    margin-top: 300px;
}

div.body-section.col{
    padding: 0 !important;
}

.slider .slides{
    background-color: transparent;
}

.slider .slides li{
    height: 100vh !important;
}

.images-container{
    padding: 50px;
    padding-top: 100px;
    padding-bottom: 100px;
    margin-bottom: 200px;
}

.image{
    width: 100%;
}

.image-sport{
    width: 100%;
    margin-bottom: 200px;
}

.category{
    margin-bottom: 300px;
}

.parallax-header-image{
    width: 100%;
}

.hero-image{
    height: 100%;
}

@media only screen and (max-width: 768px) {
    .nav-wrapper ul{
        padding-right: 15px;
    }

    .parallax-container{
        height: 100px;
    }

    .images-container{
        padding: 20px;
        margin-bottom: 80px;
    }

    .image-sport{
        margin-bottom: 40px;
    }

    .body-section-row{
        margin-top: 250px;
    }

    .nav-wrapper .brand-logo{
        display: none;
    }

    .hero-image{
        margin-bottom: 40px;
    }

    .category{
        margin-bottom: 100px;
    }

    .semiseniorweek{
        margin-top: 300px;
    }

    .misserika{
        margin-top: 300px;
    }

    .motheranddaughter{
        margin-top: 300px;
    }

    .floordecorations{
        margin-top: 300px;
    }

    .zeftroue{
        margin-top: 300px;
    }
}